.user-badge {
  width: 100%;
  padding-bottom: 100%;
  background-image: url('#{$image-path}user-badge.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0;
  background-color: $highlight-color;
  border-radius: 50%;
  box-shadow: 0 0 0 0 $highlight-color;
  transition: box-shadow 0.3s;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px $highlight-color;
    transition: box-shadow 0.8s;
  }
}