.editor {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
  height: calc(100vh - 175px);
  min-height: 600px;
  border-radius: 4px;
  background-color: $editor-bg;
  overflow-y: hidden;
  counter-reset: editor;
  @extend .code;
  background-image: linear-gradient(to right, $line-number-bg, 45px, $editor-bg 45px);

  &__label {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 -17px 0 0;
    min-height: 20px;

    h1 {
      margin: 0 auto;
      padding: 0;
      width: 90%;
      font-size: px-to-rem(10px);
      font-weight: 400;
      cursor: pointer;

      &::after {
        content: '';
        position: relative;
        display: inline-block;
        top: 0;
        padding-right: 5px;
        width: 12px;
        height: 12px;
        transform: translateY(2px);
        background-image: url('#{$image-path}pencil.svg');
        background-repeat: no-repeat;
        background-position: 5px 0;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }

    input {
      @extend .label;
      width: 90%;
      color: $label-color;
      text-align: center;
      margin-right: 26px;
    }
  }

  &__lines-container {
    position: relative;
    padding: 20px 0;
    width: 100%;
    height: auto;
    min-height: 99%;
    box-sizing: border-box;
    z-index: 1;
    transform: translateY(0.5px);
  }

  &__line {
    z-index: 1;
    position: relative;
    padding: 0 12px 0 60px;
    outline: none;
    color: $text-light;
    transition: background-color 0.2s;

    &::before {
      counter-increment: editor;
      content: counter(editor);
      position: absolute;
      left: 0;
      width: 40px;
      text-align: right;
      color: $placeholder-color;
    }

    &.focus {
      background-color: $line-number-bg;
    }

    pre {
      padding: 0;
      margin: 0;
      min-height: 20px;
      white-space: pre-wrap;

      code {
        @extend .code;
        line-height: 1.5;

        // hack to fix a weird firefox empty line line-height bug
        &::before {
          content: ' ';
          float: right;
        }
      }
    }
  }

  &__input {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 20px 20px 60px;
    width: 100%;
    min-height: calc(100% - 1px);
    box-sizing: border-box;
    background: transparent;
    border: none;
    resize: none;
    white-space: pre-wrap;
    color: $text-light;
    @extend .code;
    outline: none;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0);
    caret-color: $text-light;

    &::selection {
      background-color: $highlight-color;
      color: $text-dark;
    }
  }

  .block-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 28px;
    opacity: 0.6;
    font-size: px-to-rem(8px);
    font-weight: $font-weight-medium;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  &__copy {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -37px;
    height: 20px;
    width: 75px;
    background-image: url('#{$image-path}Rectangle.svg');
    background-repeat: no-repeat;
    font-family: $poppins;
    color: rgba($placeholder-color, 0.75);
    font-size: px-to-rem(10px);
    text-align: center;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $text-light;
    }

    &.copied {
      &::before {
        content: 'COPIED';
        position: absolute;
        left: 16px;
        animation: floatUp 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        pointer-events: none;
        color: $highlight-color;
      }
    }
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(-14px);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}
