.sidebar-toggle {
  display: none;
  float: left;
  width: 19px;
  height: 19px;
  z-index: 5;

  @include for-tablet-landscape-up () {
    display: block;
  }
}

.save-block {
  position: absolute;
  bottom: 33px;
  right: 55px;
  z-index: 5;
  margin: 0;
  padding: 3px 10px 2px;
  text-transform: uppercase;
  font-size: px-to-rem(10px);
  letter-spacing: 1px;
  transition: opacity 0.3s, right 0.3s;

  @include for-tablet-landscape-up () {
    bottom: 37px;
  }
}

.delete-block {
  position: relative;
  margin-top: 45px;
  bottom: 10px;
  width: 100%;

  @include for-tablet-landscape-up () {
    margin-top: 0;
    position: absolute
  }
}

.sidebar-save-block {
  margin-top: 8px;
}