@import '../../styles/utilities.scss';

.sidebar-toggle {
  transform: translateY(5.5px);
  display: none;
  float: left;
  width: 9px;
  height: 9px;
  z-index: 5;

  @include for-tablet-landscape-up () {
    display: block;
  }
}