.hamburger {
  display: block;
  position: absolute;
  top: 6px;
  margin: 0;
  padding: 0;
  width: 19px;
  height: 13px;
  border-radius: 0;
  border: none;
  border-top: 1px solid $highlight-color;
  background-color: transparent;
  transition: border 0.2s, top 0.2s;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 19px;
    height: 1px;
    background-color: $highlight-color;
    transition: background-color 0.2s, transform 2s;
  }

  &::before {
    margin-top: -6px;
  }

  &::after {
    margin-top: 4.3px;
  }

  &:hover,
  &:focus {
    border: none;
    border-top: 1px solid $white;

    &::before,
    &::after {
      background-color: $white;
    }
  }

  &.expanded {
    border-color: transparent;
    top: 8px;

    &::before {
      animation: flipUpExpand 0.5s;
      animation-fill-mode: forwards;
      transform-origin: top right;
    }

    &::after {
      animation: flipDownExpand 0.5s;
      animation-fill-mode: forwards;
      animation-delay: 0.07s;
      transform-origin: bottom right;
    }
  }

  &.collapsed {
    &::before {
      margin-top: -6px;
      animation: flipUpCollapse 0.5s;
      animation-delay: 0.07s;
      transform-origin: top right;
    }
  
    &::after {
      margin-top: 4.3px;
      animation: flipDownCollapse 0.5s;
      transform-origin: bottom right;
    }
  }
}

@keyframes flipUpExpand {
  0% {
    transform: rotate(0deg) translate(0px, 0px);
    left: 0;
  }
  25% {
    left: -8px;
  }
  100% {
    transform: rotate(225deg) translate(15px, -11px);
    left: 0;
  }
}

@keyframes flipUpCollapse {
  0% {
    transform: rotate(225deg) translate(15px, -11px);
    left: 0px;
  }
  25% {
    left: -4px;
  }
  100% {
    transform: rotate(360deg) translate(0px, 0px);
    left: 0px;
  }
}

@keyframes flipDownExpand {
  0% {
    transform: rotate(0deg) translate(0px, 0px);
    left: 0px;
  }
  25% {
    left: -20px;
  }
  100% {
    transform: rotate(-225deg) translate(12px, 14px);
    left: 0px;
  }
}

@keyframes flipDownCollapse {
  0% {
    transform: rotate(-225deg) translate(12px, 14px);
    left: 0px;
  }
  25% {
    left: -4px;
  }
  100% {
    transform: rotate(-360deg) translate(0px, 0px);
    left: 0px;
  }
}