label {
  margin: 0;
  @extend .label;
  color: $label-color;
}

input,
select,
search,
button {
  position: relative;
  box-sizing: border-box;
  padding: 8px 15px;
  margin-bottom: 15px;
  width: 100%;
  appearance: none;
  border: 0;
  background-color: $input-bg;
  color: $input-text;
  outline: none;
  border-radius: 4px;
  border: 1px solid $input-bg;
  font-family: $poppins;
  font-size: px-to-rem(13px);

  &:focus {
    border: 1px solid $highlight-color;
  }

  &.no-style {
    display: inline;
    padding: 0;
    margin: 0;
    width: auto;
    min-width: 1px;
    border: none;
    background-color: transparent;
  }
}

select {
  background-image: url(./resources/images/chevron.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 17px);
}

.input-and-button {
  display: grid;
  grid-template-columns: calc(100% - 64px) 44px;
  grid-column-gap: 20px;
}

button {
  padding: 8px;
  color: $highlight-color;
  font-size: px-to-rem(14px);
  transition: background-color 0.2s, border-color 0.2s;

  &:focus,
  &:hover {
    background-color: $button-hover;
    border-color: $button-hover;
    cursor: pointer;
  }

  &.no-button {
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
  }
}