// COLORS
$black:         #1b1b1b;
$dark-gray:     #2e2e2e;
$hurricane:     #434343;
$stormy:        #494949;
$overcast:      #a1a1a1;
$white:         #fff;

$minty:         #00ffd1;

// COLOR ASSIGNMENTS
$body:          $dark-gray;