header {
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 77px;
  width: 100%;
  align-items: center;
  background-color: $body-bg;

  .logoLink {
    line-height: 0;
  }

  .logo {
    width: 153px;
    height: 33px;
  }

  .user {
    text-align: right;

    a {
      color: $highlight-color;
      font-size: px-to-rem(14px);
      text-decoration: none;
    }

    &__details {
      line-height: 1.1;
      color: $text-light;
    }
  }
}