body {
  margin: 0;
  padding: 0;
  font-family: $poppins;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $body-bg;
}

.app {
  header {
    position: fixed;
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    padding: 0 20px;
    height: 77px;
    width: 100%;
    align-items: center;
    background-color: $body-bg;

    .logo {
      width: 153px;
      height: 33px;
    }
  }

  .sidebar {
    grid-area: sidebar;
    transition: all 0.5s;

    &.collapsed {
      @include for-tablet-landscape-up () {
        opacity: 0;
        transform: translateX(calc(-45.5% - 20px));
      }

      @include for-desktop-up () {
        transform: translateX(calc(-46.5% - 20px));
      }
    }
  }

  .content {
    grid-area: content;
    margin-top: 3px;
    transition: transform 0.5s;

    &.collapsed {
      @include for-tablet-landscape-up () {
        transform: translateX(calc(-14% - 20px));
      }

      @include for-desktop-up () {
        transform: translateX(calc(-11% - 20px));
      }
    }
  }

  .main {
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-template-areas: 'content' 'sidebar';
    padding: 87px 20px 0;
    margin: 0 auto;
    max-width: 1600px;

    @include for-tablet-landscape-up () {
      grid-template-areas: 'sidebar content';
      grid-template-columns: calc(25% - 20px) 75%;
    }

    @include for-desktop-up () {
      grid-template-columns: calc(20% - 20px) 80%;
    }
  }

  footer {
    p {
      color: $placeholder-color;
      text-align: center;
      font-size: px-to-rem(9px);
    }
  }
}
